@import url(default.less);

@backgroundbody: #f5fffa;
//@route-:mistyrose;
@maina: DARKSEAGREEN;
@site-header: LIGHTSTEELBLUE;
@toclia:DARKSEAGREEN;
@breadcrumb-wraplia:GAINSBORO;
@footer-column:LIGHTSTEELBLUE;
@footer: LIGHTSTEELBLUE;
@footera: DARKSEAGREEN;
@rm-desktopli:LIGHTSTEELBLUE;
@rm-desktoplia: DARKSEAGREEN;
@rm-maxrm-smallrm-button: whitesmoke;
@paragraph: black;
@footer-columnh4: whitesmoke;
@sitefooterp: whitesmoke;
@paragraph2: whitesmoke;
@borderbottom:gainsboro;
@bordertop: gainsboro;
@navbarItemHoverColor:darkgreen;
@selectednavbar: CADETBLUE !important;
